<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Receiving data from an array </title>
</head>
<body>
  <form action="/formdata" method="POST">
    <input type="text" name="fullname" placeholder="enter your username"/>
    <input type="email" name="email" placeholder="Enter your email"/>
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>